.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 960px;
  text-align: center;

  .btn {
    width: 150px;
    height: 40px;
    margin-bottom: 50px;
    color: white;
    background-color: #515151;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: #5c5c5c;
    }
  }

  .container_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .lds_dual_ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .lds_dual_ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}